includes:
  - %rootDir%/../../../vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 7
    paths:
        - %rootDir%/../../../tests
    autoload_directories:
        - %rootDir%/../../../tests
    ignoreErrors:
        -
            message: '#Missing @throws .+#'
            path: %rootDir%/../../../tests/*
        -
            message: '#Variable method call on .+#'
            path: %rootDir%/../../../tests/*
        -
            message: '#.+ is never thrown in the corresponding try block#'
            path: %rootDir%/../../../tests/*
